$primary-color: rgba(13, 110, 139, 0.65);
$overlay-color: rgba(24, 39, 51, 0.85);

$grey: #ddd;
$hover-color: rgba(13, 99, 126, 0.65);
$whitegrey: rgb(232, 246, 252);
$white: rgb(255, 255, 255);
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
$menu-speed: 0.75s;
